body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #8fa9a5;
}

p {
    background-color: rgb(12, 92, 72);
    color: white;
    padding: 2px;
}


#button {
    text-align: center;
}

input {
    color: rgb(0, 0, 0);
}


